<div align="center"><h2 class="wider-header">Edit Note</h2>

<%= render 'form', note: @note %>

<br>
<nav class="basic-link">
<%= link_to 'Show', @note %> |
<%= link_to 'Back', notes_path %></nav></div> 