<div align="center"><h2 class="basic-header">Edit Article</h1>

<%= render 'form', article: @article %>

<br>
<nav class="basic-link">
<%= link_to 'Show', @article %> |
<%= link_to 'Back', articles_path %></nav></div> 