<div align="center"><h2 class="basic-header">New Article</h2>

<br>
<%= render 'form', article: @article %>

<br>
<br>
<div align="center" class="wider-link"><%= link_to 'Back to Article Details', articles_path %></div>