<div align="center"><table>
  <thead>
    <tr>
      <th>Writer(s)</th>
      <th>Article Title</th>
    </tr>
  </thead>

  <tbody>
    <% @writers.each do |writer| %>
        <tr>
        <td style="text-align:center"><%= writer.name %></td>
        <td style="text-align:center">
          <% @articles.each do |article| %>
              <% if article.writer_id == writer.id %>
                  <%= article.title %>
              <% end %>
          <% end %>
        </td>
        </tr>
    <% end %>
  </tbody>

    </tr>
  </thead>
</table>

<br>
<h3>Writers in Alphabetical Order:</h3>

<% @writers.ordered_by_name.each do |writer| %>
    <%= writer.name %>
    <br>
<% end %>

<br>
<br>
<%= link_to 'Back to Home', home_index_path %></div>