<div align="center"><h3 class="basic-header">Add New Country</h3></div>

<%= render 'form', country: @country %>

<br>
<nav class="basic-link">
<%= link_to 'Back to Country Details', countries_path %>
</nav>
<br>
<nav class="basic-link">
<%= link_to 'Back to Regions', regions_path %></nav></div>
