<div align="center"><h1>Add New Country</h1></div>

<%= render 'form', country: @country %>

<br>
<%= link_to 'Back to Country Details', countries_path %>
<br>
<br>
<%= link_to 'Back to Regions', regions_path %></div>
