/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
    background-color: #f8f8ff;
  }

  table, td {
    border-collapse: collapse;
    border: 1px solid #ddd; 
    border-radius: 5px;
    width: 800px;
    padding: 15px 30px 15px 30px;
  }
  tr:nth-child(even){
    background-color: #ADD8E6;
  }
  tbody {
    text-align: center;
  }
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4682B4;
    color: white;
  }

 #article-previews{
  background-color: white;
  width:10%;
  height:15%;
  border-radius:12px;
  padding: 5px 5px 5px 5px;
  opacity: 0.8;
 }

 #navigation-options{
  background-color: white;
  margin: auto;
  width:10%;
  height:55%;
  border-radius:12px;
  padding: 10px 10px 10px 10px;
 }

 #articles-header{
  background-color: white;
  width:10%;
  height:15%;
  border-radius:12px;
  padding: 5px 5px 5px 5px;
  opacity: 0.8;
 }

 #new-article-header{
  background-color: white;
  width:10%;
  height:15%;
  border-radius:12px;
  padding: 5px 5px 5px 5px;
 }

 #articles-back-link{
  background-color: white;
  margin: auto;
  width:10%;
  height:15%;
  border-radius:12px;
  padding: 5px 10px 5px 10px;
 }

 #align-left{
  float: left;
  background-color: white;
  text-align: center;
  width:8%;
  height:15%;
  border-radius:9px;
  padding: 5px 0px 5px 0px;
 }

 #align-right{
  float: right;
  background-color: white;
  text-align: center;
  width:7%;
  height:15%;
  border-radius:9px;
  padding: 5px 0px 5px 0px;
}

#notes-header{
  background-color: white;
  width:10%;
  height:15%;
  border-radius:12px;
  padding: 5px 10px 5px 10px;
}

#new-note-link{
  background-color: white;
  width:10%;
  height:15%;
  border-radius:12px;
  padding: 5px 10px 5px 10px;
}

#new-note-header{
  background-color: white;
  width:10%;
  height:15%;
  border-radius:12px;
  padding: 5px 10px 5px 10px;
}

#notes-back-link{
  background-color: white;
  width:5%;
  height:15%;
  border-radius:12px;
  padding: 5px 5px 5px 5px;
}

#countries-header{
  background-color: white;
  width:10%;
  height:15%;
  border-radius:12px;
  padding: 5px 5px 5px 5px;
}

#countries-back-to-home-link{
  background-color: white;
  width:10%;
  height:15%;
  border-radius:12px;
  padding: 5px 5px 5px 5px;
}