<br>
<div align="center"><h2 class="basic-header">Region Details</h2>

<br>
<section class="narrow-item-background">
<p><%= @region.name %></p>
</section>

<br>
<h3 class="basic-header">Countries:</h3>
<section class="narrow-item-background">
<% @region.countries.each do |country| %>
    <p><%= country.name %></p>
<% end %>
</section>

<br>
<nav class="basic-link">
<%= link_to 'Back to Regions', regions_path %></nav></div> 