<br>
<div align="center"><h2 class="basic-header">Region Details</h2>

<p><%= @region.name %></p>


<%= link_to "Add New Country", new_region_country_path(@region) %>
<br>
<br>
<h3 class="basic-header">Countries:</h3>
<% @region.countries.each do |country| %>
    <p><%= country.name %></p>
<% end %>

<nav class="basic-link">
<%= link_to 'Back to Regions', regions_path %></nav></div> 